numpy==1.26.4
torch==2.4.0
transformers==4.43.4
datasets==2.21.0
accelerate==0.33.0
adapters==1.0.0
nltk==3.9.1
sentencepiece==0.2.0
evaluate==0.4.2
rouge_score==0.1.2
bitsandbytes==0.43.3
tensorboardX==2.6.2.2
trl==0.9.6
peft==0.12.0
# -e ./codeeval/human-eval
